<section class="section">
  <!-- Contenido de la página -->
  <div id="bienvenida" class="box">
    <!-- Tabla de usuarios -->
    <h2 class="subtitle">Mensajes</h2>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Remitente</th>
          <th>Destinatario</th>
          <th>Mensaje</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>AnaLopez</td>
          <td>Admin</td>
          <td>Holaa</td>
          <td>
            <button class="button is-small is-info">Editar</button>
            <button class="button is-small is-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
