<footer>
  <!-- Contenedor de columnas para el diseño de la cuadrícula -->
  <div class="columns">
    <!-- Primera columna para las redes sociales -->
    <div class="column">
      <h3 class="title is-4 has-text-white">Redes Sociales</h3>
      <!-- Contenedor de los iconos de las redes sociales -->
      <div class="field is-grouped is-offset-1">
        <p class="control">
          <a class="has-text-white" href="https://www.facebook.com/"
            ><i class="fab fa-facebook"></i
          ></a>
        </p>
        <p class="control">
          <a class="has-text-white" href="https://www.twitter.com/"
            ><i class="fab fa-x-twitter"></i
          ></a>
        </p>
        <p class="control">
          <a class="has-text-white" href="https://www.instagram.com/"
            ><i class="fab fa-instagram"></i
          ></a>
        </p>
      </div>
    </div>
    <!-- Segunda columna para el apartado legal -->
    <div class="column">
      <h3 class="title is-4 has-text-white">Apartado Legal</h3>
      <!-- Lista de enlaces legales -->
      <ul class="legal-links">
        <li>
          <a routerLink="/politicas" class="has-text-grey"
            >Políticas de privacidad</a
          >
        </li>
        <li>
          <a routerLink="/terminos" class="has-text-grey"
            >Términos y condiciones</a
          >
        </li>
      </ul>
    </div>
    <!-- Tercera columna para el soporte -->
    <div class="column">
      <h3 class="title is-4 has-text-white">Soporte</h3>
      <!-- Lista de enlaces de soporte -->
      <ul class="support-links">
        <li><a routerLink="/contacto" class="has-text-grey">Contacto</a></li>
        <li>
          <a routerLink="/faq" class="has-text-grey">Preguntas frecuentes</a>
        </li>
      </ul>
    </div>
    <!-- Cuarta columna para los derechos de autor -->
    <div class="column">
      <p class="rights">© 2024 Zuum. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
