<footer>
  <!-- Contenedor de columnas para el diseño de la cuadrícula -->
  <div class="columns">
    <!-- Segunda columna para el apartado legal -->
    <div class="column">
      <h3 class="title is-4 has-text-white">Apartado Legal</h3>
      <!-- Lista de enlaces legales -->
      <ul class="legal-links">
        <li>
          <a routerLink="/politicas" class="has-text-grey"
            >Políticas de privacidad</a
          >
        </li>
        <li>
          <a routerLink="/terminos" class="has-text-grey"
            >Términos y condiciones</a
          >
        </li>
      </ul>
    </div>
    <!-- Tercera columna para el soporte -->
    <div class="column">
      <h3 class="title is-4 has-text-white">Soporte</h3>
      <!-- Lista de enlaces de soporte -->
      <ul class="support-links">
        <li><a routerLink="/ayuda" class="has-text-grey">Centro de Ayuda</a></li>
      </ul>
    </div>
    <!-- Cuarta columna para los derechos de autor -->
    <div class="column">
      <p class="rights">© 2024 Zuum. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
