<section class="section">
  <!-- Contenido de la página -->
  <div id="bienvenida" class="box">
    <!-- Tabla de usuarios -->
    <h2 class="subtitle">Temporadas</h2>
    <div class="buttons">
      <button class="button is-primary">Crear una nueva temporada</button>
    </div>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Niveles</th>
          <th>Cosmeticos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Temporada Neon</td>
          <td>60</td>
          <td>20</td>
          <td>
            <button class="button is-small is-info">Editar</button>
            <button class="button is-small is-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
