<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/portada">
      <img src="../../assets/img/logos/logoIcono.svg" width="112" height="28" />
    </a>
  </div>
</nav>

<section class="section">
  <div class="container">
    <h1 class="title">Preguntas Frecuentes</h1>

    <div class="faq-item">
      <h2 class="subtitle is-4">¿Cómo crear una cuenta en Zuum?</h2>
      <p>Para crear una cuenta en Zuum, sigue estos pasos:</p>
      <ul>
        <li>1. Visita nuestro sitio web.</li>
        <li>2. Haz clic en el botón "Registrarse".</li>
        <li>3. Completa el formulario de registro con tus datos.</li>
        <li>
          4. Confirma tu cuenta a través del enlace enviado a tu correo
          electrónico.
        </li>
      </ul>
    </div>

    <!-- Agrega más preguntas y respuestas con estilos Bulma -->

    <div class="faq-item">
      <h2 class="subtitle is-4">¿Cómo mejorar mi perfil?</h2>
      <p>
        Para mejorar tu perfil en Zuum y atraer más atención, considera lo
        siguiente:
      </p>
      <ul>
        <li>1. Agrega información detallada sobre tus intereses y hobbies.</li>
        <li>2. Sube fotos de alta calidad que muestren tu personalidad.</li>
        <li>3. Sé honesto y auténtico en tu descripción.</li>
        <li>
          4. Actualiza tu perfil regularmente con nuevas fotos o información.
        </li>
      </ul>
    </div>

    <div class="faq-item">
      <h2 class="subtitle is-4">¿Cómo puedo eliminar mi cuenta?</h2>
      <p>Si decides eliminar tu cuenta en Zuum, sigue estos pasos:</p>
      <ul>
        <li>1. Inicia sesión en tu cuenta.</li>
        <li>2. Ve a la sección "Configuración de cuenta".</li>
        <li>3. Busca la opción "Eliminar cuenta" y sigue las instrucciones.</li>
        <li>4. Confirma la eliminación de tu cuenta.</li>
      </ul>
    </div>

    <div class="faq-item">
      <h2 class="subtitle is-4">¿Cómo restablecer mi contraseña?</h2>
      <p>
        Si olvidaste tu contraseña, puedes restablecerla de la siguiente manera:
      </p>
      <ul>
        <li>
          1. En la página de inicio de sesión, haz clic en "¿Olvidaste tu
          contraseña?".
        </li>
        <li>
          2. Ingresa tu dirección de correo electrónico asociada a tu cuenta.
        </li>
        <li>
          3. Sigue las instrucciones recibidas por correo electrónico para
          restablecer la contraseña.
        </li>
      </ul>
    </div>

    <div class="faq-item">
      <h2 class="subtitle is-4">¿Cómo reportar un perfil sospechoso?</h2>
      <p>
        Si encuentras un perfil sospechoso o inapropiado, puedes reportarlo de
        la siguiente manera:
      </p>
      <ul>
        <li>1. Visita el perfil que deseas reportar.</li>
        <li>
          2. Haz clic en el botón "Reportar perfil" ubicado en la página del
          perfil.
        </li>
        <li>3. Proporciona detalles sobre la razón del reporte.</li>
        <li>
          4. Nuestro equipo revisará la denuncia y tomará las medidas
          necesarias.
        </li>
      </ul>
    </div>

    <div class="faq-item">
      <h2 class="subtitle is-4">
        ¿Cuáles son los beneficios de la membresía premium?
      </h2>
      <p>La membresía premium en Zuum ofrece varias ventajas, incluyendo:</p>
      <ul>
        <li>1. Acceso a funciones avanzadas de búsqueda y filtrado.</li>
        <li>2. Mensajes ilimitados con otros usuarios.</li>
        <li>3. Visibilidad mejorada de tu perfil.</li>
        <li>4. Ofertas exclusivas en eventos y actividades de Zuum.</li>
      </ul>
    </div>

    <div class="faq-item">
      <h2 class="subtitle is-4">¿Cómo puedo contactar al soporte técnico?</h2>
      <p>
        Si necesitas ayuda o tienes problemas técnicos, puedes contactar a
        nuestro soporte técnico de las siguientes maneras:
      </p>
      <ul>
        <li>1. Visita la sección de "Ayuda" en nuestro sitio web.</li>
        <li>2. Envía un correo electrónico a support&#64;zuum.com.</li>
        <li>3. Utiliza el formulario de contacto en la página de soporte.</li>
        <li>4. Nuestro equipo estará encantado de ayudarte.</li>
      </ul>
    </div>
  </div>
</section>

<!-- Añadir el componente footer -->
<app-footer></app-footer>
