<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/portada">
      <img src="../../assets/img/logos/logoIcono.svg" width="112" height="28" />
    </a>
  </div>
</nav>

<section class="section">
  <div class="container">
    <h1 class="title is-1">Términos y Servicios de Zuum</h1>

    <h2 class="subtitle is-2">Términos y Condiciones:</h2>
    <ol>
      <li>
        Uso Aceptable:
        <ul>
          <li>
            Los usuarios deben comprometerse a utilizar Zuum de manera
            respetuosa y segura.
          </li>
          <li>
            Se prohíbe el acoso, la discriminación, el lenguaje ofensivo o
            cualquier comportamiento perjudicial hacia otros usuarios.
          </li>
        </ul>
      </li>

      <li>
        Edad Mínima:
        <p>
          Los usuarios deben tener al menos 18 años para registrarse en Zuum.
        </p>
      </li>

      <li>
        Privacidad:
        <p>
          Zuum se compromete a proteger la privacidad de sus usuarios y seguirá
          las mejores prácticas de seguridad de datos.
        </p>
      </li>

      <li>
        Información de Perfil:
        <p>
          Los usuarios deben proporcionar información precisa y veraz en sus
          perfiles. La información falsa o engañosa puede resultar en la
          suspensión de la cuenta.
        </p>
      </li>

      <li>
        Derecho a la Eliminación:
        <p>
          Zuum se reserva el derecho de eliminar perfiles que incumplan los
          términos y condiciones, así como aquellos que presenten un riesgo para
          la seguridad de la comunidad.
        </p>
      </li>

      <li>
        Contenido Compartido:
        <p>
          Los usuarios son responsables del contenido que comparten en la
          plataforma. Se prohíbe la difusión de contenido obsceno, ilegal o que
          viole los derechos de propiedad intelectual.
        </p>
      </li>

      <li>
        Suspensión de Cuenta:
        <p>
          Zuum puede suspender o eliminar cuentas en caso de violación de los
          términos y condiciones sin previo aviso.
        </p>
      </li>
    </ol>

    <h2 class="subtitle">Servicios:</h2>
    <ul>
      <li>
        Coincidencias Inteligentes:
        <p>
          Zuum utiliza algoritmos avanzados para hacer coincidir a los usuarios
          según sus preferencias y perfiles, facilitando conexiones
          significativas.
        </p>
      </li>

      <li>
        Mensajería Segura:
        <p>
          La plataforma proporciona un sistema de mensajería interno que
          garantiza la seguridad y privacidad de las conversaciones entre
          usuarios.
        </p>
      </li>

      <li>
        Filtros de Seguridad:
        <p>
          Zuum implementa filtros de seguridad para proteger a los usuarios de
          contenido inapropiado y comportamientos no deseados.
        </p>
      </li>

      <li>
        Eventos y Actividades Sociales:
        <p>
          Zuum organiza eventos y actividades locales para que los usuarios
          puedan conocerse en un entorno seguro y amigable fuera de la
          plataforma en línea.
        </p>
      </li>

      <li>
        Asesoramiento de Perfil:
        <p>
          Los usuarios pueden recibir asesoramiento personalizado para mejorar
          sus perfiles y aumentar sus posibilidades de encontrar coincidencias
          compatibles.
        </p>
      </li>

      <li>
        Opciones de Privacidad:
        <p>
          Zuum permite a los usuarios controlar la visibilidad de su perfil y
          establecer niveles de privacidad para garantizar una experiencia
          personalizada y segura.
        </p>
      </li>

      <li>
        Soporte Técnico:
        <p>
          Zuum ofrece soporte técnico dedicado para ayudar a los usuarios con
          cualquier problema o pregunta que puedan tener.
        </p>
      </li>

      <li>
        Membresía Premium:
        <p>
          Los usuarios pueden optar por una membresía premium que ofrece
          funciones avanzadas y beneficios exclusivos para mejorar su
          experiencia en la plataforma.
        </p>
      </li>

      <li>
        Política de Reembolso:
        <p>
          Zuum tiene una política de reembolso que garantiza la satisfacción del
          usuario en caso de problemas con la membresía premium u otros
          servicios pagados.
        </p>

        <p>
          Para obtener más información sobre los términos y condiciones, así
          como los servicios ofrecidos por Zuum, no dudes en contactar a nuestro
          equipo de soporte técnico.
        </p>
      </li>

      <li>
        Cambios en los Términos y Condiciones:
        <p>
          Zuum se reserva el derecho de modificar los términos y condiciones en
          cualquier momento. Los usuarios serán notificados sobre cualquier
          cambio y deberán aceptar los nuevos términos para continuar utilizando
          la plataforma.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- Añadir el componente footer -->
<app-footer></app-footer>
