<mat-toolbar class="navbar" color="primary">
  <div class="navbar-container">
    <!-- Navigation links -->
    <div class="nav-links">
      <a mat-button routerLink="/portada">Inicio</a>
      <a mat-button routerLink="/tienda">Tienda</a>
      <button mat-button routerLink="/premium" class="premium-button">
        <span>Premium</span>
      </button>
      <a mat-button routerLink="/administracion" *ngIf="rol === 'administrador' || rol === 'admin'">
        Admin
      </a>
    </div>

    <!-- Right side icons -->
    <div class="nav-actions">
      <button mat-icon-button (click)="desplegarMenuMensajes()">
        <mat-icon>message</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu" #notificationTrigger="matMenuTrigger" (click)="cargarNotificaciones()">
        <mat-icon [matBadge]="noleidosContador" [matBadgeHidden]="noleidosContador === 0" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="profileMenu" >
        <img 
          [src]="fotoPerfil" 
          class="profile-avatar"
          [alt]="usuario"
        >
      </button>
    </div>
  </div>
</mat-toolbar>

<!-- Notifications Menu -->
<mat-menu #notificationMenu="matMenu" class="notification-menu">
  <div class="notification-header">
    <h3>Notificaciones</h3>
    <button mat-icon-button color="primary" (click)="marcarTodasComoLeidas()" matTooltip="Marcar todo como leído">
      <mat-icon>done_all</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="notification-list" *ngIf="notificaciones.length > 0; else noNotifications">
    <mat-list>
      <mat-list-item *ngFor="let notificacion of notificaciones" [ngClass]="{'unread': !notificacion.read}">
        <mat-icon mat-list-icon [ngClass]="{'unread-icon': !notificacion.read}">{{notificacion.icon}}</mat-icon>
        <div mat-line class="notification-title">{{notificacion.title}}</div>
        <div mat-line class="notification-content">{{notificacion.content}}</div>
        <div mat-line class="notification-time">
          <mat-icon class="time-icon">access_time</mat-icon>
          {{notificacion.time | date:'short'}}
        </div>
        <button mat-icon-button class="mark-read-button" (click)="marcarComoLeida(notificacion)" *ngIf="!notificacion.read" matTooltip="Marcar como leída">
          <mat-icon>done</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-template #noNotifications>
    <div class="no-notifications">
      <mat-icon class="empty-icon">notifications_off</mat-icon>
      <p>No tienes notificaciones nuevas</p>
    </div>
  </ng-template>
</mat-menu>

<!-- Profile Menu -->
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item [routerLink]="['/perfil', usuario]">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item routerLink="/preferencias">
    <mat-icon>settings</mat-icon>
    <span>Preferencias</span>
  </button>
  <button mat-menu-item routerLink="/contacto">
    <mat-icon>help</mat-icon>
    <span>Soporte</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="pecharSesion()" class="logout-button">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>