<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/portada">
      <img src="../../assets/img/logos/logoIcono.svg" width="112" height="28" />
    </a>
  </div>
</nav>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Bienvenido al Soporte Técnico</h1>
      <h2 class="subtitle">
        Estamos aquí para ayudarte con cualquier problema que puedas tener.
        Completa el formulario a continuación y nos pondremos en contacto
        contigo lo antes posible.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Contacto al Soporte Técnico</h1>

    <div class="columns">
      <div class="column is-half">
        <form>
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" placeholder="Tu nombre" />
            </div>
          </div>

          <div class="field">
            <label class="label">Correo electrónico</label>
            <div class="control">
              <input
                class="input"
                type="email"
                placeholder="Tu correo electrónico"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Mensaje</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Escribe tu mensaje"
              ></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Hero Section -->
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Mira nuestras Preguntas Frecuentes</h1>
      <h2 class="subtitle">
        Encuentra respuestas a las preguntas más comunes.
      </h2>
      <a class="button is-light" routerLink="/faq">Ir a Preguntas Frecuentes</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">¡Muchas gracias por confiar en nosotros!</h2>
    <p class="subtitle">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum
      provident ab perferendis deserunt! Enim in accusamus debitis. Vel nihil
      soluta ea, aperiam architecto omnis minus? Ipsum distinctio doloremque
      incidunt vitae?
    </p>
    <p>
      ¿Sigues necesitando ayuda? Estamos aquí para ti. No dudes en explorar
      nuestras soluciones y consejos técnicos en nuestro blog mientras
      procesamos tu consulta.
    </p>
  </div>
</section>

<!-- Añadir el componente footer -->
<app-footer></app-footer>
