<section class="section">
  <!-- Contenido de la página -->
  <div id="bienvenida" class="box">
    <!-- Tabla de usuarios -->
    <h2 class="subtitle">Soporte</h2>
    <div class="buttons">
      <button class="button is-primary">Crear nuevo ticket</button>
    </div>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Asunto</th>
          <th>Detalles</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Error crear cuenta</td>
          <td>Tengo un error</td>
          <td>Soporte Tecnico</td>
          <td>
            <button class="button is-small is-info">Editar</button>
            <button class="button is-small is-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
