/* Ajustes para el fondo Animado */
.hero {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #07d7fe, #7919f5, #f607d5);
  background-size: 600% 600%;
  animation: gradientAnimation 15s infinite;
  padding: 3rem 1.5rem;
}

/* Crea la animacion para el fondo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilos titulo */
.suscripcionTitulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Estilos subtitulo */
.suscripcionDescripcion {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Estilos para el contenedor de la Suscripcion */
.contenedorSuscripcion {
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la suscripcion gratis */
.suscripcion-gratis {
  background-color: #fff;
}

/* Estilos para la suscripcion premium */
.suscripcionPremium {
  background: linear-gradient(to right, #07d7fe, #f607d5);
  color: #fff;
}

/* Estilos para el precio de la suscripcion */
.suscripcionPrecio {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Estilos para las caracteristicas */
.suscripcionCaracteristicas {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos para la lista de las caracteristicas */
.suscripcionCaracteristicas li {
  margin-bottom: 0.5rem;
}

/* Estilos para el boton de la suscripcion */
.contenedor {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Estilos para el contenedor del logo */
.contenedor-logo {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el logo */
.encabezado {
  position: relative;
}

/* Estilos para el circulo */
.circulo {
  position: absolute;
  top: -60px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen del circulo */
.circulo img {
  margin-top: 18px;
  margin-left: 4px;
  width: 100%;
  height: auto;
}

/* Estilos para el titulo */
.encabezado h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

/* Estilos para el formulario */
.detalles-pago {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Estilos para el detalle */
.detalle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
}

/* Estilos para el detalle */
.grupo-formulario {
  margin-bottom: 20px;
}

/* Estilos para el label */
.grupo-formulario label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

/* Estilos para el input */
.grupo-formulario input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para el boton de pagar */
.btnPagar {
  display: block;
  width: 100%;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(
    45deg,
    #07d7fe,
    #7919f5,
    #f607d5
  );
}

/* Estilos para el boton de pagar */
.btnPagar:hover {
  background-color: #0056b3;
}

